.footer-container {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  background-color: whitesmoke;
  height: 70px;
  border-top: 1px solid lightgray;
  position: fixed;
  box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.2), 0 -6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 20px;
  top: calc(100% - 70px);
}

.footer-content {
  margin-left: 10%;
  margin-right: 10%;
  height: 100%;
  background-color: red;
}

.profile {
  margin-top: 10px;
  height: 50px;
  width: 50px;
  text-align: center;
  border: black solid 1px;

  img {
    height: 100%;
    width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
  }
}
