.body {
  -moz-box-shadow: 0 0 5px #ccc;
  -webkit-box-shadow: 0 0 5px #ccc;
  border: 2px solid #bce8f1;
  padding-bottom: 20px;
  padding-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 3px;
  margin-top: 120px;
  margin-bottom: 70px;
  display: table;
}

@media only screen and (max-width: 840px) {
  .body {
    width: 100%;
  }
}
