<div class="navbar-container">
  <div class="navbar-content">

    <div class="navbar-header">
      <a routerLink="" class="navbar-brand">CS 160 Team Project</a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <ng-template [ngIf]="!authService.isAuth()">
        <li><button class="btn-primary btn" (click)="register()">Register</button></li>
        <li><button class="btn-primary btn" (click)="signin()">Sign In</button></li>
      </ng-template>

      <li *ngIf="authService.isAuth()"><button class="btn-primary btn" (click)="logout()">Log Out</button></li>

    </ul>
  </div>
</div>
