.navbar-container {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  background-color: whitesmoke;
  height: 70px;
  border-bottom: 1px solid lightgray;
  position: relative;
  box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
  top: 0;
  margin-bottom: 20px;
  min-width: 800px;
}

.navbar-content {
  margin-left: 10%;
  margin-right: 10%;
  height: 100%;
}

ul {
  height: 100%;
  margin-right: 0;

  li {
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 20px;
  }
}
/*
.navbar-header {
  float: left;
}*/
