.title {
  width: 100%;
  text-align:  center;
  font-size: xx-large;
  color: tomato;
  font-family: "Comic Sans MS";
  margin-bottom: 20px;
}

.intro-img {
  width: 100%;
  border: solid lightgrey 1px;
  padding: 5px;

  img {
    height: 100%;
    width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
  }
}
