<div class="title">
  We are a group of student with passion!!
</div>

<div class="intro">
  <div class="sjsu">
    <img src="../../assets/img/sjsu_logo.png">
  </div>

  <div class="group-info">
    <p>
      We are Alex Xiao, Yizhou Yan, Morgan Chang, Tien Tran, Matthew Sternquist in the same group,
      and have a passion for computer and technology. We are interesting to work with each other
      to apply what we learned to this project such as Apache, SQL, Linux, PHP, C++, Python. Each of
      us knows different kind of languages such as Java, C, C++, Python, PHP, so it is a great idea to
      form a group to do this project. The aims of this project are to detect faces by using OpenCV, OpenFace,
      eye tracking, FFMPEG, Frontend, Backend, Pipeline, and Databases.
    </p>
  </div>
</div>

<div class="member-group">
  <div class="member" [ngStyle]="{'transform': animation1}" (click)="turnPage(1)">
    <div class="mem-img">
      <img src="../../assets/member/alex.jpg">
    </div>

    <div class="mem-info">
      <div class="name">
        <a (click)="goto('xiao')">Alex Xiao</a>
      </div>
      <div class="info">
        The most handsome guys in the world!!!
      </div>
    </div>
  </div>

  <div class="member" [ngStyle]="{'transform': animation2}" (click)="turnPage(2)">
    <div class="mem-img">
      <img src="../../assets/member/yizhou.jpg">
    </div>

    <div class="mem-info">
      <div class="name">
        <a (click)="goto('yan')">Yizhou Yan</a>
      </div>
      <div class="info">
        Hi, my name Yizhou Yan, I am currently enrolled in the San Jose State University majoring
        in computer science. My expected graduation date is December 2017. I am seeking an internship or
        entry level position that will allow me to utilize my problem solving skills and attention to detail
        to further develop my abilities in the field of computer science. Resume can be found in my profile and
        I am willing to learn any skills that are necessary for the job.
      </div>
    </div>
  </div>

  <div class="member" [ngStyle]="{'transform': animation3}" (click)="turnPage(3)">
    <div class="mem-img">
      <img src="../../assets/member/tien.jpg">
    </div>

    <div class="mem-info">
      <div class="name">
        <a (click)="goto('tien')">Tine Tran</a>
      </div>
      <div class="info">
        I am a senior student at SJSU, and my passion is technology and
        programming. After graduating electrical engineer and working almost 8 years,
        I recognized that programming is very interesting, necessary. It can apply to solve
        many problems in the real life and many industries. Therefore, I decided to come back the University to study it.
      </div>
    </div>
  </div>

  <div class="member" [ngStyle]="{'transform': animation4}" (click)="turnPage(4)">
    <div class="mem-img">
      <img src="../../assets/member/mor.JPG">
    </div>

    <div class="mem-info">
      <div class="name">
        <a (click)="goto('mor')">Morgan Chang</a>
      </div>
      <div class="info">
        Morgan Chang is a Computer Science undergraduate at San Jose
        State University. His interests lie in biomedical engineering,
        bioinformatics, and robotics. When he is not asleep, he likes to eat and take things apart.
      </div>
    </div>
  </div>

  <div class="member" [ngStyle]="{'transform': animation5}" (click)="turnPage(5)">
    <div class="mem-img">
      <img src="../../assets/member/matt.jpg">
    </div>

    <div class="mem-info">
      <div class="name">
        <a (click)="goto('matt')">Matthew Sternquist</a>
      </div>
      <div class="info">
        Matthew Sternquist studies Computer Science at San Jose State University.
        He has worked on numerous personal projects, including small scale android applications.
        His interests include mobile development, computer security, and artificial intelligence.
        In his spare time he enjoys playing games, hiking, and exploring new places.
      </div>
    </div>
  </div>
</div>
